body {
    background-color: black;
    margin: 0;
    padding: 0;
}

main{
    color: rgb(140, 193, 212);
    padding-left: 40%;
}

header {
    background-color: rgb(83, 85, 85);
    display: flex;
}

.Main {
}

.enter {
}

header a {
    margin: 5px;
    color: red;
    font-size: 30px;
}

.form_reg {
    background-color: rgb(83, 85, 85);
    width: 300px;
    border-radius: 12px;
    color: lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 550px;
    text-align: center;
    font-size: 20px;
    margin-top: 225px;
}

.form_log {
    background-color: rgb(83, 85, 85);
    width: 300px;
    border-radius: 12px;
    color: lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
    text-align: center;
    font-size: 20px;
    margin-top: 225px;
}

input {
    text-align: center;
    flex-direction: column;
    margin: 24px;
    display: flex;
}
