<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index/style.css">
    <link rel="stylesheet" href="css/reg/style.css">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <a href="/" class="Main">Main</a>
        <div class="enter">
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>
    </header>
    <main>
        <!--   Якщо коренева сторінка не потрібно відображати body     -->
        {{#if not_home}}
        {{{body}}}
        {{/if}}
    </main>
    <footer></footer>
</body>
<script src="js/script.js"></script>
</html>

<p class="ttt">text</p>

p.ttt text 
