<div class="form_log">
    <h1>Napishite zdes`:</h1>
    <input type="email" id="email">email
    <input type="password" id="password">password
    <button id="login_btn">Log in</button>
    <p id="error_message"></p>
</div>