<div>
    <table>
        <tr>
            <th>#</td>
            <th>Title</td>
            <th>Artist</td>
        </tr>
        <tbody id="table_content">
            
        </tbody>
    </table>
</div>