<div class="form_reg">
    <h1>Napishite zdes`:</h1>
    <input id="email" type="email" placeholder="Example@gmail.com">email
    <input id="password" type="password" placeholder="password1234">password
    <input id="f_name" type="text" placeholder="Your First Name">First name
    <input id="l_name" type="text" placeholder="Your Last Name">Last name
    <button id="submit">Sign up</button>
</div>