<div id="reg">
    <input id="email" type="email">email
    <input id="password" type="password">password
    <input id="f_name" type="text">First name
    <input id="l_name" type="text">Last name
    <button id="submit">Sign up</button>
</div>
